<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">

<hibernate-configuration>
<session-factory>

	<!-- Database Configuration -->
	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
	<property name="hibernate.connection.url">jdbc:mysql://eulises-NB:3306/dbslort2</property>
	<property name="hibernate.connection.username">root</property>
	<property name="hibernate.connection.password">sonrisa14</property>
	<property name="hibernate.connection.pool_size">6</property>
	<!-- Another Hibernate Configurations -->
	<property name="show_sql">true</property>
	<property name="use_outer_join">true</property>
	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
	<!-- Mapping security files -->
	<mapping resource="com/slort/model/security/Grupo.hbm.xml" />
	<mapping resource="com/slort/model/security/OpcionMenu.hbm.xml" />
	<mapping resource="com/slort/model/security/Users.hbm.xml" />
	<mapping resource="com/bdb/conexion/Conexion.hbm.xml" />
	
	<!-- Mapping test files -->

</session-factory>
</hibernate-configuration>
